* {
    font-family: "Red Hat Display", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}
.textField {
    border: 2px solid black;
    line-height: 1.25;
    border-radius: 10px;
    width: 20rem;
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.25rem;
    height: 4rem;
}

.isInvalid {
    background-color: rgb(250, 192, 186);
}

.label {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.error {
    margin-left: 0.5rem;
    color: red;
}

@media screen and (max-width: 350px) {
    .textField {
        width: 12.5rem;
    }
}
